{% extends "customer/base.html" %}
{% load static %}
{% block links %}
<title>checkout_page</title>
    <link rel="stylesheet" href="{% static 'assests_checkout_page/bootstrap/css/bootstrap.min.css' %}" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Allan&amp;display=swap" />
{% endblock links %}
    

{% block navbar %}
      <div class="container"><a class="navbar-brand d-flex align-items-center" href="{% url 'home' %}"><span style="margin-right: -92px;"><a class="navbar-brand" href="{% url 'home' %}" style="font-family: Allan, serif;font-size: 36px;margin-right: 123px;color: #8b2323;text-shadow: -5px 3px rgba(139,35,35,0.17);">Cafe Project</a></span></a><button data-bs-toggle="collapse" class="navbar-toggler" data-bs-target="#navcol-1"><span class="visually-hidden">Toggle navigation</span><span class="navbar-toggler-icon"></span></button>
        <div class="collapse navbar-collapse" id="navcol-1">
            <ul class="navbar-nav me-auto">
                <li class="nav-item"><a class="nav-link" href="{% url 'home' %}">Home</a></li>
                <li class="nav-item"><a class="nav-link active" href="{% url 'categories' %}">Menu</a></li>
{% endblock navbar %}

{% block content %}
    <div>
        <div class="table-responsive" style="border-radius: 5px; margin-right: auto; margin-top: 5%; margin-bottom:9%; margin-left: auto; width: 80%;">
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th colspan="5" class="text-center fs-4">Factor</th>
                    </tr>
                    <tr>
                        <th style=" font-size: 30px;pading-top:10px;">Cafe Project</th>
                        <th>Title</th>
                        <th>Price</th>
                        <th>Count</th>
                        <th>Total</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td rowspan="100%">
                            <img class="img-fluid" height="50%" id="checkout_img" src="{% static 'assests_checkout_page/img/images.jpg' %}" style="width:auto;height:25%;" width="auto">
                        </td>
                     {% for key, value in context.items %}
                        <tr>
                            <td class="text-center" id="checkout_item_name">{{ key }}</td>
                            <td class="text-center" id="checkout_price">{{ value.item_unit_price }}</td>
                            <td class="text-center" id="checkout_quantity">{{ value.item_quantity }}</td>
                            <td id="checkout_total_price_item">{{ value.item_total_price }}</td>
                        </tr>
                     {% endfor %} 
                    </tr>
    
                </tbody>
            </table>
        </div>
        <div class="table-responsive" style="margin-top: -10%; margin-right: auto; margin-bottom: 10%; margin-left: auto; padding-top: 0; padding-right: inherit; padding-bottom: 0; padding-left: inherit; width: 80%;">
            <table class="table table-bordered">
                <thead>
                    <tr>
                        {% comment %} <th id="checkout_discount" style="text-align: center;">تخفیف</th> {% endcomment %}
                        <th style="text-align: center;">Total</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td colspan="2"><span id="checkout_total_price"></span> T</td>
                    </tr>
                    <tr>
                        {% comment %} <td>
                            <button onclick="location.href = 'shoping_cart.html?cat={{ item.name }}'" class="btn btn-primary btn-lg fs-5 text-center" style="background-color:rgb(122, 30, 30)" type="button">بازگشت</button>
                        </td> {% endcomment %}
                        <td style="text-align: center;">
                            
                        </td>
                    </tr>
                </tbody>
            </table>
            <button onclick="redirect('/table-rigester/')" class="btn btn-lg fs-5" style="background: #FFF1CF; width:100%; font-weight: bold" type="button">Register Order</button>
        </div>
    </div>
    
    
    <script src="{% static 'assests_checkout_page/bootstrap/css/bootstrap.min.css'%}"></script>
    <script src="{% static 'commonFunctions.js' %}"></script>
    <script src="{% static 'assests_checkout_page/bootstrap/js/checkoutPage.js' %}"></script>
    <script src="{% static 'assets_home_menu_page/js/menu.js' %}"></script>
{% endblock content %}

