
body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-color: #f8f9fa;
  color: #495057;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

.wrapper {
  display: flex;
  justify-content: space-between;
}

.card {
  width: 48%; /* تا حد امکان از 48% از عرض صفحه استفاده شود */
  border: 1px solid rgba(0, 0, 0, 0.125);
  border-radius: 0.25rem;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
  margin-bottom: 20px;
}

.card-header {
  background-color: #007bff;
  color: #fff;
  padding: 15px;
  text-align: center;
}

.card-body {
  padding: 20px;
}

.table {
  width: 100%;
  margin-bottom: 0;
  background-color: #fff;
}

.table th,
.table td {
  border: 1px solid rgba(0, 0, 0, 0.125);
  padding: 15px;
}

.table th {
  text-align: center;
  background-color: #f8f9fa;
}

.float-right {
  float: right;
}

.btn {
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  border: none;
  border-radius: 0.25rem;
}

.btn-default {
  background-color: #e9ecef;
  color: #495057;
}

.btn-primary {
  background-color: #007bff;
  color: #fff;
}

.btn-danger {
  background-color: #dc3545;
  color: #fff;
}

.form-control {
  width: 100%;
  padding: 10px;
  font-size: 16px;
  border: 1px solid rgba(0, 0, 0, 0.125);
  border-radius: 0.25rem;
}