{% load static %}
<!DOCTYPE html>
<html lang="en" style="background: #8b2323">
  <head>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0, shrink-to-fit=no"
    />
    <title>Untitled</title>
    <link rel="stylesheet" href="{% static 'assets_home_page/bootstrap/css/bootstrap.min.css' %}" />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css?family=Allan&amp;display=swap"
    />
  </head>
  <body
    class="text-center d-flex flex-column"
    style="
      margin-top: 0px;
      background: linear-gradient(
          0deg,
          black 0%,
          rgb(64, 16, 16) 13%,
          rgb(97, 24, 24) 37%,
          rgb(124, 31, 31) 82%,
          #8b2323 100%
        ),
        #8b2323;
      border-style: none;
      border-color: #c4d8e2;
      border-radius: 0;
      transform-style: preserve-3d;
      transition: ease;
      margin-right: 0px;
      margin-bottom: 0px;
    "
  >
    <header
      style="
        background: #e2d3d6;
        transform: translate(0px);
        border-radius: 26px;
        border-bottom-right-radius: 25px;
        border-bottom-left-radius: 25px;
        color: rgb(255, 255, 255);
        border-top-left-radius: 0;
        border-top-right-radius: 0;
        margin-bottom: 70px;
      "
    >
      <nav
        class="navbar navbar-light navbar-expand-md d-flex float-start flex-row flex-fill justify-content-end align-items-end"
        style="width: 95%; color: rgb(255, 255, 255); padding-left: 17px"
      >
        <div class="container-fluid">
          <button
            data-bs-toggle="collapse"
            class="navbar-toggler"
            data-bs-target="#navcol-1"
          >
            <span class="visually-hidden">Toggle navigation</span
            ><span class="navbar-toggler-icon"></span></button
          ><a
            class="navbar-brand"
            href="#"
            style="
              font-family: Allan, serif;
              font-size: 36px;
              margin-right: 123px;
              color: #8b2323;
              text-shadow: -5px 3px rgba(139, 35, 35, 0.17);
            "
            >Cafe Project</a
          >
          <div class="collapse navbar-collapse" id="navcol-1">
            <ul class="navbar-nav d-flex flex-fill justify-content-end">
              <li class="nav-item text-center">
                <label
                  class="form-label"
                  style="
                    color: rgb(0, 0, 0);
                    margin-right: 30px;
                    margin-top: 5px;
                  "
                ></label>
              </li>
              <li class="nav-item text-center">
                
              </li>
            </ul>
          </div>
        </div>
      </nav>
    </header>
    
      {% for items in data_from_db %}
      <div class="d-flex" style="margin-bottom: 14px">
      {% for item in items %}
        <button
        onclick="location.href = 'menu?cat={{ item.name }}'"
        class="btn btn-primary d-flex justify-content-between"
        type="button"
        style="
          background: #fff1cf;
          color: rgb(0, 0, 0);
          width: 50%;
          margin-left: 10px;
          border-radius: 15px;
          margin-right: 5px;
          padding-right: 50px;
        "
      >
        <img
          src="{% static  item.image  %}"
          style="height: 150px; width: auto"
        /><label
          class="form-label"
          style="
            margin-top: auto;
            margin-bottom: auto;
            font-weight: bold;
            font-size: 36px;
            text-shadow: -6px 2px rgba(0, 0, 0, 0.13);
          "
          >{{ item.name }}</label
        >
      </button>
      {% endfor %}
    </div>
      {% endfor %}
        
        
    <script src="{% static 'assets_home_page/bootstrap/js/bootstrap.min.js' %}"></script>
  </body>
</html>
