{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
      <meta charset="utf-8" />
      <meta
        name="viewport"
        content="width=device-width, initial-scale=1.0, shrink-to-fit=no"
      />
      <title>Dashboard - Brand</title>
      <link rel="stylesheet" href="{% static 'assest_admin_report/bootstrap/css/bootstrap.min.css' %}" />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i&amp;display=swap"
    />
    <link rel="stylesheet" href="{% static 'assest_admin_report/fonts/fontawesome-all.min.css' %}" />
    </head>

    <body id="page-top">
      <div id="wrapper">
        <nav
          class="navbar navbar-dark align-items-start sidebar sidebar-dark accordion bg-gradient-primary p-0"
        >
          <div class="container-fluid d-flex flex-column p-0">
            <a
              class="navbar-brand d-flex justify-content-center align-items-center sidebar-brand m-0"
              href="#"
            >
              <div class="sidebar-brand-icon rotate-n-15">
                <i class="fas fa-coffee"></i>
              </div>
              <div class="sidebar-brand-text mx-3"><span>پنل مدیریت</span></div>
            </a>
            <hr class="sidebar-divider my-0" />
            <ul class="navbar-nav text-light" id="accordionSidebar">
              <li class="nav-item dropdown">
                <a
                  class="dropdown-toggle nav-link"
                  aria-expanded="false"
                  data-bs-toggle="dropdown"
                  href="#"
                  ><i class="fas fa-utensils"></i>سفارشات
                </a>
                <div class="dropdown-menu">
                  <a
                    class="dropdown-item"
                    href="http://127.0.0.1:8000/staff/dashboard"
                    >تمام سفارشات</a
                  ><a class="dropdown-item" href={% url "trash" %}>سفارشات پاک شده</a
                  ><a class="dropdown-item" href={% url "checked_out" %}>سفارشات پرداخت شده</a>
                </div>
              </li>

              <li class="nav-item">
                <a class="nav-link" href="http://127.0.0.1:8000/staff/add_item"
                  ><i class="fas fa-plus"></i><span>افزودن ایتم</span></a
                >
              </li>
              <li class="nav-item">
                <a
                  class="nav-link"
                  href="http://127.0.0.1:8000/staff/add-category"
                  ><i class="fas fa-plus"></i><span>افزودن دسته</span></a
                >
              </li>
              <li class="nav-item">
                {% if request.user.is_admin %}
                <li class="nav-item"></li>
                <li class="nav-item">
                  <a class="nav-link" href="http://127.0.0.1:8000/staff/list_user"
                    ><i class="fas fa-user-circle"></i><span>مدیریت پرسنل</span></a
                  >
                {% endif %}
                </li>
                {% if request.user.is_admin %}
                <li class="nav-item">
                  <a class="nav-link" href="http://127.0.0.1:8000/staff/reports"
                    ><i class="fas fa-tachometer-alt"></i> <span>گزارشات</span></a
                  >
                </li>
                {% endif %}
              </li>
            </ul>
            <div class="text-center d-none d-md-inline">
              <button
                class="btn rounded-circle border-0"
                id="sidebarToggle"
                type="button"
              ></button>
            </div>
          </div>
        </nav>
        <div class="d-flex flex-column" id="content-wrapper">
          <div id="content">
            <nav
              class="navbar navbar-light navbar-expand bg-white shadow mb-4 topbar static-top"
            >
              <div class="container-fluid">
                <button
                  class="btn btn-link d-md-none rounded-circle me-3"
                  id="sidebarToggleTop"
                  type="button"
                >
                  <i class="fas fa-bars"></i>
                </button>

                <ul class="navbar-nav flex-nowrap ms-auto">
                  <div class="d-none d-sm-block topbar-divider"></div>
                  <li class="nav-item dropdown no-arrow">
                    <div class="nav-item dropdown no-arrow">
                      <a
                        class="dropdown-toggle nav-link"
                        aria-expanded="false"
                        data-bs-toggle="dropdown"
                        href="#"
                        ><span
                          class="d-none d-lg-inline me-2 text-gray-600 small"
                          >{{request.user.full_name}}</span
                        ><img
                          class="border rounded-circle img-profile"
                          src="{%static 'assest_admin_show_order/img/avatars/avatar1.jpeg'%}"
                      /></a>
                      <div
                        class="dropdown-menu shadow dropdown-menu-end animated--grow-in"
                      >
                        <a class="dropdown-item" href="{% url 'logout' %}"
                          ><i
                            class="fas fa-sign-out-alt fa-sm fa-fw me-2 text-gray-400"
                          ></i
                          >&nbsp;Logout</a
                        >
                      </div>
                    </div>
                  </li>
                </ul>
              </div>
            </nav>
          <div class="container-fluid">
            <div
              class="text-end d-sm-flex justify-content-end align-items-center mb-4"
              style="text-align: right"
            >
              <h3 class="text-dark mb-0">سفارشات پرداخت شده </h3>
            </div>
            <div class="row">
              {% for customer_order in checked_out_orders %} 
              <div class="column">
                <div class="col"style="margin-bottom:10px">
                  <div class="col-md-6 col-xl-3" style="width:700px;margin-right:auto;margin-left:auto">
                    <div class="card shadow border-start-primary py-2" style="width: 100%">
                      <div class="card-body">
                        <table
                          style="
                            border: 1px solid black;
                            width: 100%;
                            margin-bottom: 15px;
                          "
                        >
                          <tr>
                            <th
                              style="
                                border: 1px solid black;
                                width: 40%;
                                text-align: center;
                                background-color: #f2f2f2;
                              "
                            >
                              زمان ثبت سفارش
                            </th>
                            <th
                              style="
                                border: 1px solid black;
                                width: 50%;
                                text-align: center;
                                background-color: #f2f2f2;
                              "
                            >
                              توضیحات
                            </th>
                            <th
                              style="
                                border: 1px solid black;
                                width: 10%;
                                text-align: center;
                                background-color: #f2f2f2;
                              "
                            >
                              میز
                            </th>
                          </tr>
                          <tr>
                            <th
                              style="
                                border: 1px solid black;
                                width: 40%;
                                text-align: center;
                              "
                            >
                              {{ customer_order.timestamp }}
                            </th>
                            <th
                              style="
                                border: 1px solid black;
                                width: 50%;
                                text-align: center;
                              "
                            >
                              {{ customer_order.description }}
                            </th>
                            <th
                              style="
                                border: 1px solid black;
                                width: 10%;
                                text-align: center;
                              "
                            >
                              {{customer_order.table_number.table_number}}
                            </th>
                          </tr>
                        </table>
                        <table
                          style="
                            border: 1px solid black;
                            width: 100%;
                            margin-bottom: 15px;
                          "
                        >
                          <tr>
                            <th
                              style="
                                border: 1px solid black;
                                width: 40%;
                                text-align: center;
                                background-color: #f2f2f2;
                              "
                            >
                              عنوان
                            </th>
                            <th
                              style="
                                border: 1px solid black;
                                width: 40%;
                                text-align: center;
                                background-color: #f2f2f2;
                              "
                            >
                              قیمت واحد
                            </th>
                            <th
                              style="
                                border: 1px solid black;
                                width: 20%;
                                text-align: center;
                                background-color: #f2f2f2;
                              "
                            >
                              تعداد
                            </th>
                          </tr>
                          {% for order_item in customer_order.order_item_set.all%}
                          <tr>
                            <th
                              style="
                                border: 1px solid black;
                                width: 40%;
                                text-align: center;
                              "
                            >
                              {{ order_item.item.name }}
                            </th>
                            <th
                              style="
                                border: 1px solid black;
                                width: 40%;
                                text-align: center;
                              "
                            >
                              {{ order_item.item.unitprice }}
                            </th>
                            <th
                              style="
                                border: 1px solid black;
                                width: 20%;
                                text-align: center;
                              "
                            >
                              {{ order_item.count }}
                            </th>
                          </tr>
                          
                          {% endfor %}
                          <th
                            style="
                              border: 1px solid black;
                              width: 30%;
                              text-align: center;
                              background-color: #f2f2f2;
                            "
                          >
                            جمع کل
                          </th>
                          <th
                            style="
                              border: 1px solid black;
                              width: 70%;
                              text-align: center;
                            "
                            colspan="2"
                          >
                            {{ customer_order.total_price }}
                          </th>
                        </table>
                    </div>
                    </div>
                  </div>
                </div>
                {% comment %} {% if forloop.counter|divisibleby:2 %}
            </div>
            <div class="row">
                {% endif %} {% endcomment %}
                
            {% endfor %}
            </div>
          </div>
        </div>
        <footer class="bg-white sticky-footer">
          <div class="container my-auto">
            <div class="text-center my-auto copyright">
            </div>
          </div>
        </footer>
      </div>
      <a class="border rounded d-inline scroll-to-top" href="#page-top"
        ><i class="fas fa-angle-up"></i
      ></a>
    </div>
    <script src="{%static 'assest_admin_show_order/bootstrap/js/bootstrap.min.js'%}"></script>
    <script src="{%static 'assest_admin_show_order/js/theme.js'%}"></script>
  </body>
</html>
