{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
      <meta charset="utf-8" />
      <meta
        name="viewport"
        content="width=device-width, initial-scale=1.0, shrink-to-fit=no"
      />
      <title>Dashboard - Brand</title>
      <link rel="stylesheet" href="{% static 'assest_admin_report/bootstrap/css/bootstrap.min.css' %}" />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i&amp;display=swap"
    />
    <link rel="stylesheet" href="{% static 'assest_admin_report/fonts/fontawesome-all.min.css' %}" />
    </head>

    <body id="page-top">
      <div id="wrapper">
        <nav
          class="navbar navbar-dark align-items-start sidebar sidebar-dark accordion bg-gradient-primary p-0"
        >
          <div class="container-fluid d-flex flex-column p-0">
            <a
              class="navbar-brand d-flex justify-content-center align-items-center sidebar-brand m-0"
              href="#"
            >
              <div class="sidebar-brand-icon rotate-n-15">
                <i class="fas fa-coffee"></i>
              </div>
              <div class="sidebar-brand-text mx-3"><span>پنل مدیریت</span></div>
            </a>
            <hr class="sidebar-divider my-0" />
            <ul class="navbar-nav text-light" id="accordionSidebar">
              <li class="nav-item dropdown">
                <a
                  class="dropdown-toggle nav-link"
                  aria-expanded="false"
                  data-bs-toggle="dropdown"
                  href="#"
                  ><i class="fas fa-utensils"></i>سفارشات
                </a>
                <div class="dropdown-menu"><a class="dropdown-item" href="http://127.0.0.1:8000/staff/dashboard">تمام سفارشات</a><a class="dropdown-item" href="http://127.0.0.1:8000/staff/date">مرتب سازی براساس تاریخ</a><a class="dropdown-item" href="http://127.0.0.1:8000/staff/filter-status">فیلتر براساس وضعیت سفارش</a><a class="dropdown-item" href="http://127.0.0.1:8000/staff/filter-table">فیلتر بر اساس شماره میز</a><a class="dropdown-item" href={% url "trash" %}>سفارشات پاک شده</a><a class="dropdown-item" href={% url "checked_out" %}>سفارشات پرداخت شده</a></div>
              </li>

              <li class="nav-item">
                <a class="nav-link" href="http://127.0.0.1:8000/staff/add_item"
                  ><i class="fas fa-plus"></i><span>افزودن ایتم</span></a
                >
              </li>
              <li class="nav-item">
                <a
                  class="nav-link"
                  href="http://127.0.0.1:8000/staff/add-category"
                  ><i class="fas fa-plus"></i><span>افزودن دسته</span></a
                >
              </li>
              <li class="nav-item">
                <a class="nav-link" href="http://127.0.0.1:8000/staff/list_user"
                  ><i class="fas fa-user-circle"></i
                  ><span>مدیریت پرسنل</span></a
                >
              </li>
              <li class="nav-item">
                <a class="nav-link active" href="http://127.0.0.1:8000/staff/reports"
                  ><i class="fas fa-tachometer-alt"></i> <span>گزارشات</span></a
                >
              </li>
            </ul>
            <div class="text-center d-none d-md-inline">
              <button
                class="btn rounded-circle border-0"
                id="sidebarToggle"
                type="button"
              ></button>
            </div>
          </div>
        </nav>
        <div class="d-flex flex-column" id="content-wrapper">
          <div id="content">
            <nav
              class="navbar navbar-light navbar-expand bg-white shadow mb-4 topbar static-top"
            >
              <div class="container-fluid">
                <button
                  class="btn btn-link d-md-none rounded-circle me-3"
                  id="sidebarToggleTop"
                  type="button"
                >
                  <i class="fas fa-bars"></i>
                </button>

                <ul class="navbar-nav flex-nowrap ms-auto">
                  <div class="d-none d-sm-block topbar-divider"></div>
                  <li class="nav-item dropdown no-arrow">
                    <div class="nav-item dropdown no-arrow">
                      <a
                        class="dropdown-toggle nav-link"
                        aria-expanded="false"
                        data-bs-toggle="dropdown"
                        href="#"
                        ><span
                          class="d-none d-lg-inline me-2 text-gray-600 small"
                          >{{request.user.full_name}}</span
                        ><img
                          class="border rounded-circle img-profile"
                          src="{%static 'assest_admin_show_order/img/avatars/avatar1.jpeg'%}"
                      /></a>
                      <div
                        class="dropdown-menu shadow dropdown-menu-end animated--grow-in"
                      >
                        <a class="dropdown-item" href="{% url 'logout' %}"
                          ><i
                            class="fas fa-sign-out-alt fa-sm fa-fw me-2 text-gray-400"
                          ></i
                          >&nbsp;Logout</a
                        >
                      </div>
                    </div>
                  </li>
                </ul>
              </div>
            </nav>
            <div class="container-fluid">
              <div
                class="d-sm-flex justify-content-between align-items-center mb-4"
              >
              <a class="btn btn-primary btn-sm d-none d-sm-inline-block" role="button" href="#" onclick="download_pdf()">
                <i class="fas fa-download fa-sm text-white-50"></i>&nbsp;دانلود گزارش
              </a>
                <h3 class="text-dark mb-0">گزارشات</h3>
              </div>
              {% comment %} <div id="content_for_pdf"style="font-family: 'BTitrBold';@font-face {font-family: 'BTitrBold';src: url('static/BـTitrـBold_0.ttf') format('truetype');}"> {% endcomment %}
              <div id="content_for_pdf"style="font-family: 'B-NAZANIN'; @font-face {font-family: 'B-NAZANIN';src: url('static/B-NAZANIN.TTF') format('truetype');unicode-range: U+0600-06FF;}">
                <div class="row">
                  <div class="col-md-6 col-xl-3 mb-4">
                    <div class="card shadow border-start-primary py-2">
                      <div class="card-body">
                        <div class="row align-items-center no-gutters">
                          <div class="col me-2">
                            <div
                              class="text-uppercase text-primary fw-bold text-xs mb-1"
                            >
                              <span>درآمد کل</span>
                            </div>
                            <div class="text-dark fw-bold h5 mb-0">
                              <span id="total_earning">{{total_earnings}} تومان</span>
                            </div>
                          </div>
                          <div class="col-auto">
                            <i class="fas fa-calendar fa-2x text-gray-300"></i>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-6 col-xl-3 mb-4">
                    <div class="card shadow border-start-success py-2">
                      <div class="card-body">
                        <div class="row align-items-center no-gutters">
                          <div class="col me-2">
                            <div
                              class="text-uppercase text-success fw-bold text-xs mb-1"
                            >
                              <span>درآمد امروز</span>
                            </div>
                            <div class="text-dark fw-bold h5 mb-0">
                              <span id="anual_earning">{{today_earnings}} تومان</span>
                            </div>
                          </div>
                          <div class="col-auto">
                            <i class="fas fa-dollar-sign fa-2x text-gray-300"></i>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-6 col-xl-3 mb-4">
                    <div class="card shadow border-start-info py-2">
                      <div class="card-body">
                        <div class="row align-items-center no-gutters">
                          <div class="col me-2">
                            <div
                              class="text-uppercase text-info fw-bold text-xs mb-1"
                            >
                              <span>سفارشات امروز</span>
                            </div>
                            <div class="row g-0 align-items-center">
                              <div class="col-auto">
                                <div class="text-dark fw-bold h5 mb-0 me-3">
                                  <span id="today_orders">{{today_checked_out_orders}}</span>
                                </div>
                              </div>
                            </div>
                          </div>
                          <div class="col-auto">
                            <i
                              class="fas fa-clipboard-list fa-2x text-gray-300"
                            ></i>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-6 col-xl-3 mb-4">
                    <div class="card shadow border-start-warning py-2">
                      <div class="card-body">
                        <div class="row align-items-center no-gutters">
                          <div class="col me-2">
                            <div
                              class="text-uppercase text-warning fw-bold text-xs mb-1"
                            >
                              <span>در حال انجام</span>
                            </div>
                            <div
                              class="text-dark fw-bold h5 mb-0"
                              id="pending_orders"
                            >
                              <span>{{today_other_orders}}</span>
                            </div>
                          </div>
                          <div class="col-auto">
                            <i class="fas fa-cog fa-2x text-gray-300"></i>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-lg-7 col-xl-8">
                    <div class="card shadow mb-4">
                      <div class="card-header d-flex justify-content-between align-items-center">
                        <h6 class="text-primary fw-bold m-0">
                          میزان فروش در روز(یک ماهه)
                        </h6>
                      </div>
                      <div class="card-body" style="height: 500px;">
                        <div id="monthly_earning_per_day" class="chart-area" style="height: 480px;">
                          <canvas
                            id = "monthly_income_chart"
                          ></canvas>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="col-lg-5 col-xl-4">
                    <div class="card shadow mb-4">
                      <div
                        class="card-header d-flex justify-content-between align-items-center"
                      >
                        <h6 class="text-primary fw-bold m-0">ایتم های پر فروش</h6>                    </div>
                      <div class="card-body"style="height: 500px;">
                        <div id="popular_items" class="chart-area"style="margin-bottom: 15px;">
                          <canvas id="popularItemsChart"></canvas>
                        </div>
                        <div class="text-center d-flex flex-row justify-content-center small mt-4" style="margin: 0;position: relative;display: block;height: auto;">
                          <span class="d-flex flex-column me-2" style="width: auto;">
                            <i class="fas fa-circle text-primary"></i>
                            {{second_chart_labels0}}
                          </span>
                          <span class="d-flex flex-column me-2" style="width: auto;">
                            <i class="fas fa-circle text-success"></i>
                            {{second_chart_labels1}}
                          </span>
                          <span class="d-flex flex-column me-2" style="width: auto;height: 35px;">
                            <i class="fas fa-circle text-info"></i>
                            {{second_chart_labels2}}
                          </span>
                        </div>
                        <div class="text-center d-flex flex-row justify-content-center small mt-4" style="margin: 0;position: relative;display: block;height: auto;">
                          <span class="d-flex flex-column me-2" style="width: auto;">
                            <i class="fas fa-circle" style="color: rgb(200,72,68);"></i>
                              {{second_chart_labels3}}
                          </span>
                          <span class="d-flex flex-column me-2" style="width: auto;">
                            <i class="fas fa-circle" style="color: rgb(171,140,69);"></i>
                              {{second_chart_labels4}}
                          </span>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-lg-6 mb-4">
                    <div class="card shadow mb-4">
                      <div class="card-header py-3">
                        <h6 class="text-primary fw-bold m-0">
                          میزان فروش هر ایتم
                        </h6>
                      </div>
                      <div class="card-body">
                        {% for item in items_sales_percentage %}
                        <h4 class="small fw-bold">{{ item.name }}<span class="float-end">{{ item.percentage }}%</span></h4>
                        <div class="progress mb-4">
                          <div class="progress-bar" role="progressbar" style="width: {{ item.percentage }}%; {% if item.percentage >= 90 %} background-color: #056c1c; {% elif item.percentage >= 80 %} background-color: #00a424; {% elif item.percentage >= 70 %} background-color: #02ffe1; {% elif item.percentage >= 60 %} background-color: #02ffa4; {% elif item.percentage >= 50 %} background-color: black; {% elif item.percentage >= 40 %} background-color: blue; {% elif item.percentage >= 30 %} background-color: purple; {% elif item.percentage >= 20 %} background-color: yellow; {% elif item.percentage >= 10 %} background-color: orange; {% else %} background-color: red; {% endif %}border-radius: 25px;" aria-valuenow="{{ item.percentage }}" aria-valuemin="0" aria-valuemax="100">
                                <span class="visually-hidden">{{ item.percentage }}%</span>
                            </div>
                        </div>
                        {% endfor %}
                      </div>
                    </div>
                  </div>
                  <div class="col" style="width: 446px">
                    <div class="card shadow mb-4">
                      <div class="card-header py-3">
                        <h6 class="text-primary fw-bold m-0">
                          ساعت های پیک کاری بر اساس تعداد سفارش
                        </h6>
                      </div>
                      <div class="card-body">
                        <div id="peek_hours_by_order_count" style="width: 100%">
                          <canvas
                            data-bss-chart="{{peek_hour_chart}}"
                          ></canvas>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <footer class="bg-white sticky-footer">
            <div class="container my-auto">
              <div class="text-center my-auto copyright">
                <span>Copyright © Brand 2024</span>
              </div>
            </div>
          </footer>
        </div>
        <a class="border rounded d-inline scroll-to-top" href="#page-top"
          ><i class="fas fa-angle-up"></i
        ></a>
      </div>
      <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/html2pdf.js/0.9.2/html2pdf.bundle.min.js"></script>
      <script>
        function download_pdf() {
          const element = document.getElementById('content_for_pdf'); // بخش مورد نظر را با شناسه انتخاب کنید
  
          const opt = {
            margin: 10,
            filename: 'report.pdf',
            image: { type: 'jpeg', quality: 1 },
            html2canvas: { scale: 1 },
            jsPDF: { unit: 'px', format: [1500, 3000], orientation: 'portrait' }
          };
        
          html2pdf()
            .from(element)
            .set(opt)
            .save();
        }
      </script>
      <script>
        document.addEventListener('DOMContentLoaded', function () {
          var ctx = document.getElementById('popularItemsChart').getContext('2d');
          var myChart = new Chart(ctx, {
              type: 'doughnut',
              data: {
                  labels: {{ second_chart_labels | safe }},
                  datasets: [{
                      label: '',
                      backgroundColor: ["#4e73df", "#1cc88a", "#36b9cc", "rgb(200,72,68)", "rgb(171,140,69)"],
                      borderColor: ["#ffffff", "#ffffff", "#ffffff", "#ffffff", "#ffffff"],
                      data: {{ second_chart_data | safe }}
                  }]
              },
              options: {
                  maintainAspectRatio: false,
                  legend: {
                      display: false,
                      labels: {
                          fontStyle: 'normal'
                      }
                  },
                  title: {
                      fontStyle: 'normal'
                  }
              }
          });
        });
      </script>
      <script>
        document.addEventListener('DOMContentLoaded', function() {
          var ctx = document.getElementById('monthly_income_chart').getContext('2d');
          var myChart = new Chart(ctx, {
            type: 'line',
            data: {
              labels: {{monthly_chart_labels | safe }}, 
              datasets: [{
                label: 'Earnings',
                data: {{monthly_chart_data | safe}}, // این قسمت را با data از دیتابیس جایگزین کنید
                backgroundColor: 'rgba(78, 115, 223, 0.05)',
                borderColor: 'rgba(78, 115, 223, 1)',
                borderWidth: 1
              }]
            },
            options: {
              maintainAspectRatio: false,
              legend: {
                display: false,
                labels: {
                  fontStyle: 'normal'
                }
              },
              title: {
                fontStyle: 'normal'
              },
              scales: {
                xAxes: [{
                  gridLines: {
                    color: 'rgb(234, 236, 244)',
                    zeroLineColor: 'rgb(234, 236, 244)',
                    drawBorder: false,
                    drawTicks: false,
                    borderDash: [2],
                    zeroLineBorderDash: [2],
                    drawOnChartArea: false
                  },
                  ticks: {
                    fontColor: '#858796',
                    fontStyle: 'normal',
                    padding: 20
                  }
                }],
                yAxes: [{
                  gridLines: {
                    color: 'rgb(234, 236, 244)',
                    zeroLineColor: 'rgb(234, 236, 244)',
                    drawBorder: false,
                    drawTicks: false,
                    borderDash: [2],
                    zeroLineBorderDash: [2]
                  },
                  ticks: {
                    fontColor: '#858796',
                    fontStyle: 'normal',
                    padding: 20
                  }
                }]
              }
            }
          });
        });
      </script>
      <script src="{% static 'assest_admin_report/bootstrap/js/bootstrap.min.js'%}"></script>
      <script src="{% static 'assest_admin_report/js/chart.min.js'%}"></script>
      <script src="{% static 'assest_admin_report/js/bs-init.js'%}"></script>
      <script src="{% static 'assest_admin_report/js/theme.js'%}"></script>
    </body>
  </html>
</html>
